<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hi</title>
    <script type="text/javascript" src="/apiFetch.js"></script>
    <link rel="stylesheet" href="/stylesheet.css" type="text/css">

</head>
<body style="background-color: #FEF5EF;">
<div style="padding-top: 10px; background-color: #F4E4BA; text-align: center;">
    <h1>Bienvenue dans notre application Web Service Rest</h1>
    <h2>La cave à vin.</h2>
    <br><br>
</div>
<div >
    <h2 style="text-align: center;">Les bouteilles</h2>
    <center><table id="vins"></table></center>
</div>
</body>
</html>